.popup_mainContainer{
    position: fixed;
    width: 14rem;
    
    box-shadow: 0px 0px 5px lightgray ;
    right: 120px;
    top: 70px;
    background-color: white;
    border-radius: 10px;
}
ul{
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
    list-style-type: none;
    padding-left: 0rem;
    color: rgb(18, 18, 18);
}
.signupContainer{
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray ;
}
li{
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.7rem 1.5rem ;
}
.signup{
    font-weight: 600;
}
li:hover{
    background-color: lightgray;
}